*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style:normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*PORTADA*/
.portada{
    height: 80vh;
    width: 100%;
        h1{
            color:white;
            text-align: center;
            width: 50%;
            padding: 10px;
            font-size: 3.5rem;
            font-weight: 600;
        }
        p{
            padding-bottom: 10px;
            color:white;
            width: 70%;
            font-size: 1.2rem;
        }
        a{
            padding: 8px 30px;
            border-radius: 20px;
            text-decoration: none;
            color:white;
            font-weight: 600;
            animation: colorChange 2s infinite ease-in-out;
        }
        a:hover{
            border: 1px solid #31B094;
            box-shadow: 1px 1px 20px #31B094;
        }
        .fa-angle-right{
            padding-left: 10px;
            animation: move 2s infinite ease-in-out
        }
    }
    @keyframes move {
        0%{
            transform: translate(5px);
        }
        50%{
            transform: translate(0px);
        }
        100%{
            transform: translate(5px);
        }
        
    }
    
    @keyframes colorChange{
        0%{
            background: linear-gradient(270deg, #47B27B 11%, #31B094 23.68%, #1EAEAA 38.87%, #12ADB8 54.06%, #0FADBD 100%);
        }
        100%{
            
            background: linear-gradient( 270deg, #0FADBD 9.8%, #12ADB8 38.87%, #1EAEAA 42.06%, #47B27B 100%);
        }}

.navbar{
    background-color: #0c043085;
    backdrop-filter: blur(10px);
    border: 0.5px solid rgb(182, 182, 182);
    height:12vh;
    margin:20px 40px;
    border-radius: 50px;
    margin-bottom: 0px;
    width: 90%;
    
    .navbar-brand{
        color:white;
    }
    .logo{
        padding: 5px 8px;
        width:130px;
        height: 45px;
    }   
.nav-link{
    color:rgb(150, 150, 150);
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
}
    .nav-link:hover{
        color: white;
    }
.active{
    color: white;
}
.signup{
    background: linear-gradient(200deg, #9618b7, #8714a3,#d42aff);
    border-radius: 50px;
    padding: 8px 20px;
    color:white;
}
.signup:hover{
    background: linear-gradient(200deg, #d42aff,  #9618b7, #8714a3);
}
}

/*BODY*/
body{
    background: linear-gradient(#080B31, #1D2856, #44225B, #223062, #44225B, #1D2856, #080B31);
    animation: color 5s infinite ease-in ;
    animation-timing-function: 10s;
}
@keyframes color {
    0%{
        background: linear-gradient(#080B31, #1D2856, #44225B, #223062, #1D2856, #2c163b);
    }
    50%{
        background: linear-gradient(#080B31, #44225B, #1D2856, #2c163b );
    }
    100%{
        background: linear-gradient(#080B31, #2c163b,#44225B, #1D2856, );
    }
}

/*COMUNES*/
.text-color{
    color: #92e0ff;
}
/*INFO-CARDS*/
.card-info{
    background-color: rgba(54, 18, 112, 0.288);
    box-shadow: 2px 2px 20px #9d47b283;
    border: 0.5px solid #9d47b2 ;
    width:320px;
    height: 200px;
    border-radius: 20px;
    padding: 10px 10px 0px;
    color:white;
    margin:10px;
    h3{
        font-size: 4rem;
        font-weight: 700;
        padding: 10px;
        color: white;
        .text-chico{
            font-size: 1.2rem;
        }
        .icon-cards{
            margin-left: 10px;
            width: 50px;
            height: 50px;
        }
    }
    p{
        padding:0px 10px;
        font-size: 1.2rem;
    }
}
/*FLYER*/
.flyer{
    .img-clientes{
        max-width: 200px;
        aspect-ratio: 4/3;
        object-fit: contain;
        padding: 0px 30px;
    }
}
.flyer1{
    margin: 40px;
    padding: 20px;
    text-align: center;
    background-color: #080B31;
    height: 210vh;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 20px #0facbd7a; 
    border: 1px solid #0FADBD;
   
    .title{
        width: 70%;
        padding: 40px;
        margin-top: 10px;
        color:white;
        text-align: center;
        font-size: 2rem;
    }
    .cards-services{
        margin: 0px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: start;
    }
        .card-service{
            padding: 25px 15px;
            border-radius: 20px;
            margin-bottom: 20px;
            width: 350px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: start;
        }
        .img-servicio{
            width: 165px;
            height:165px;
            padding-bottom: 10px;
        }
        .title-servicios{
            font-size: 1.5rem;
            padding:8px;
            font-weight: 600;
            color:white;
            .text-color{
                color: #92e0ff;
                font-weight: 600;
            }
        }
        .text-servicios{
            font-size: 0.96rem;
            padding: 0px 8px 10px 8px;
            color:white;
            width:90%;
        }
        .btn-servicios{
            text-decoration: none;
            background: linear-gradient(270deg, #47B27B 9.03%, #31B094 23.68%, #1EAEAA 38.87%, #12ADB8 54.06%, #0FADBD 100%);
            color:white;
            width:45%;
            padding:8px 30px;
            border-radius: 50px;
            margin: 8px;
            font-weight: 600;
            text-align: center;
        } 
        .btn-servicios:hover{
            box-shadow: 1px 1px 20px #31B094;
        }
    }

.flyer2{
    margin: 40px;
    padding: 40px 10px;
    background:linear-gradient(270deg, #080B31,#44225B, #7c42a3,#1D2856, #080B31);
    box-shadow: 2px 2px 20px #0facbd7a; 
    border: 1px solid #0FADBD;
    border-radius: 20px;
    height: 70vh;

    .col-textEnd{
        text-align: end;
    }
    .text-introduction{
        padding: 0px 10px;
        font-weight: 600;
        color: #92e0ff;
    }
    h3{
        color:white;
        padding: 5px 10px;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .text-flyer{
        color:white;
        padding: 0px 10px 10px;
        font-size: 1.05rem;
    }
    a{
        margin:10px;
        background: linear-gradient(200deg, #9618b7, #8714a3,#d42aff);
        border-radius: 50px;
        padding: 8px 20px;
        color:white;
        font-weight: 600;
        text-decoration: none;
    }
    a:hover{
        background: linear-gradient(200deg, #d42aff,  #9618b7, #8714a3);
    }
    .img-flyer{
        width:600px;
        height: 350px;
    }
    .img-flyer2{
        width:600px;
        height: 400px;
    }
    
}
.flyer3{
        margin: 40px;
        padding: 40px 10px;
        background:linear-gradient(270deg, #080B31,#44225B, #7c42a3,#1D2856, #080B31);
        box-shadow: 2px 2px 20px #0facbd7a; 
        border: 1px solid #0FADBD;
        border-radius: 20px;
        height: 70vh;
        .contenido-flyer3{
            padding: 30px;
        }
        .text-introduction{
            padding: 0px 10px;
            font-weight: 600;
            color: #92e0ff;
        }
        h3{
            color:white;
            padding: 5px 10px;
            font-size: 2.5rem;
            font-weight: 600;
        }
        .text-flyer{
            color:white;
            padding: 0px 10px 10px;
            font-size: 1.05rem;
        }
        a{
            margin:10px;
            background: linear-gradient(200deg, #9618b7, #8714a3,#d42aff);
            border-radius: 50px;
            padding: 8px 20px;
            color:white;
            font-weight: 600;
            text-decoration: none;
        }
        a:hover{
            background: linear-gradient(200deg, #d42aff,  #9618b7, #8714a3);
        }
        .img-flyer3{
            width:600px;
            height: 360px;
        }
        
    }
    .flyer4{
        margin: 40px;
        padding: 40px 10px;
        background:linear-gradient(270deg, #080B31,#44225B, #7c42a3,#1D2856, #080B31);
        box-shadow: 2px 2px 20px #0facbd7a; 
        border: 1px solid #0FADBD;
        border-radius: 20px;
        height: 70vh;
        .contenido-flyer4{
            padding: 30px;
        }
        .text-introduction{
            padding: 0px 10px;
            font-weight: 600;
            color: #92e0ff;
        }
        h3{
            color:white;
            padding: 5px 10px;
            font-size: 2.5rem;
            font-weight: 600;
        }
        .text-flyer{
            color:white;
            padding: 0px 10px 10px;
            font-size: 1.05rem;
        }
        a{
            margin:10px;
            background: linear-gradient(200deg, #9618b7, #8714a3,#d42aff);
            border-radius: 50px;
            padding: 8px 20px;
            color:white;
            font-weight: 600;
            text-decoration: none;
        }
        a:hover{
            background: linear-gradient(200deg, #d42aff,  #9618b7, #8714a3);
        }
        .img-flyer4{
            width:600px;
            height: 360px;
        }
        
    }

.color{
    color:black;
    filter: blur(30px);
}

/*Pagos*/
.section-planes{
    padding: 5px 20px 20px;
}
.title-planes{
    color:white;
    padding: 10px 20px 5px;
    margin:30px 20px 10px;
    font-size: 2rem;
    .text-color{
        color:#92e0ff;;
    }
}
.contenedor-pagos{
    display: flex;
    justify-content: center;

.card-pagos{
    color:white;
    height: 90vh;
    width: 350px;
    box-shadow: 2px 2px 20px #0facbd7a; 
    margin: 25px;
    border-radius: 20px;
    h3{
        font-size: 1rem;
        padding-top: 5px;
    }
    .contenido{
        padding:20px
    }
    .save{
        background-color: #167e7a;
        padding: 2px 20px;
        border-radius: 40px;
        border: 1px solid #92e0ff;
        font-size: 0.9rem;
    }
    .month{
        font-size: 1rem;
    }
    .precio{
        font-size: 3.2rem;
        font-weight: 700;
        color: #9df4fd;
    }
    ul{
        list-style: none;
    }
    li{
        padding:5px;
        font-size: 0.95rem;
    }
    .btn-precio{
        text-decoration: none;
        background-color:#167e7a;
        color: white;
        border: 1px solid #92e0ff;
        font-weight: 600;
        border-radius: 20px;
        padding: 8px 50px;
    }
    .btn-precio:hover{
        box-shadow: 1px 1px 20px #31B094;
    }
    .fa-check-circle{
        font-size: 1rem;
    }
    
}
}
.link-btn{
    border: 1px solid #0FADBD;
}

.color-card{
    background-color: #080B31;
    border: 1px solid #0FADBD;
}

/*CLIENTES*/
.section-users{
    margin: 50px;
}
.title-users{
    color:white;
    text-align: center;
    padding: 20px 20px 10px;
    font-size: 2.3rem;
}
.contenedor-clientes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cita{
    width:100px;
    height: 100px;
    padding:  10px 10px 0px;
}
.clientes-opinion{
    background-color: rgba(41, 14, 85, 0.61);
    box-shadow: 2px 2px 20px #9d47b283;
    border: 0.5px solid #9d47b2 ;
    color:white;
    border-radius: 20px;
    border: 0.5px solid rgb(182, 182, 182);
    height: 90vh;
    width: 400px;
    margin: 10px;
    backdrop-filter: blur(10px);
 
    .opinion{
        padding: 0px 40px;
        text-align: justify;
        font-size: 1rem;
    }
}
.empresa-cliente{
    padding-top: 20px;
    .img-empresa{
        width: 70px;
        height: 70px;
    }
    .contenido-empresa{
        padding-left: 20px;
    }
    h4{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 600;
    }
    p{
        text-align: left;
        font-size: 0.96rem;
    }
}
/*FOOTER*/
.footer{
    border-radius: 30px;
    height: 70vh;
    margin: 40px;
    padding: 40px 10px;
    background-color: #0c043085;
    backdrop-filter: blur(10px);
    border: 0.5px solid rgb(182, 182, 182);

    .contenido-paises{
        color:white;
    
        .pais{
            width:550px;
            margin: 20px;
            h5{
                font-size: 1rem;
            }
        }
    }
    .logo-footer{
        width:250px;
        height: 60px;
        margin: 20px;
        padding-right: 40px;
    }
    .footer-nav{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        padding-left: 40px;
    }
    .nav-link{
        list-style: none;
        color:rgb(150, 150, 150);
        text-decoration: none;
        font-weight: 600;
        padding: 4px;
        font-size: 1.1rem;
    }
    .nav-link:hover{
        color: white;
        border-bottom:1px solid white;
    }
    .active{
        color: white;
    }
    .redes{
        background-color: #390946;
        box-shadow: 2px 2px 20px #63107a;
        padding:12px;
        border-radius: 100px;
        margin-top: 10px;
        margin:20px;
        .fa-brands{
            text-align: center;
            font-size: 1.5rem;
            color:white;
        }
    }
}

/*404*/
main{
    margin-top: 10px;
    .title-404{
        color:white;
        font-size: 3.5rem;
        padding:10px;
    }
    p{
        color:white;
        font-size: 1.5rem;
        padding:10px;
    }
    a{
        color:white;
        font-weight: 600;
        background-color: #31B094;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 20px;
        animation: colorChange infinite 2s ease-in-out;
    }

}


@media screen and (max-width: 767px){
    .portada{
        margin-top: 10px;
        height: 55vh;
            h1{
                width: 100%;
                padding: 10px;
                font-size: 2rem;
            }
            p{
                padding-bottom: 5px;
                color:white;
                width: 100%;
                font-size: 0.9rem;
            }
            a{
                font-size: 0.9rem;
                padding: 6px 30px;
            }
        }
    .navbar{
        height:12vh;
        margin: 10px;
        border-radius: 50px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: nowrap;
        
        .logo{
            padding: 5px;
            width:80px;
            height: 25px;
        }   
    .nav-link{
        font-size: 0.6rem;
        padding: 5px;
    }
    .signup{
        padding: 2px 8px;
    }
    }
    
    /*INFO-CARDS*/
    .cards-info{
    .card-info{
        width:400px;
        height: 120px;
        padding: 10px;
        margin:5px;
        margin-top: 0px;
        h3{
            font-size: 1.5rem;
            padding: 2px;
            .icon-cards{
                margin-left: 2px;
                width: 15px;
                height: 15px;
            }
        }
        p{
            padding:0px;
            font-size: 0.66rem;
        }
    }}
    /*FLYER*/
    .flyer1{
        height: 200vh;
        margin: 10px;
        padding: 10px;
        .title{
            margin-top: 10px;
            padding: 5px;
            font-size: 1rem;
        }
    .cards-services{
        margin: 0px;

        .card-service{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0px;
            height: 30vh;
        
        .img-servicio{
            width: 50px;
            height:50px;
            padding-bottom: 0px;
        }
        .title-servicios{
            text-align: center;
            font-size: 1rem;
            padding:0px;
        }
        .text-servicios{
            text-align: center;
            font-size: 0.6rem;
            padding: 0px 4px;
            width:100%;
        }
        .btn-servicios{
            font-size: 0.6rem;
            width:40%;
            padding:4px 20px;
            margin: 0px;
        } 
    }}}
    
    .flyer2{
        margin: 10px;
        padding: 10px;
        height: 40vh;
    
        .text-introduction{
            padding: 0px 10px;
            font-size: 0.6rem;
        }
        .col{
            text-align: center;
        }
        h3{
            padding: 10px;
            font-size: 1rem;
        }
        .text-flyer{
            color:white;
            padding: 10px;
            font-size: 0.6rem;
        }
        .img-flyer{
            width:250px;
            height: 90px;
        }
        .flyer{
            .img-clientes{
                max-width: 80px;
                aspect-ratio: 4/3;
                object-fit: contain;
                padding: 0px 10px;
            }
        } 
    }
    .flyer3{
        margin: 10px;
        padding: 10px;
        height: 40vh;
        .contenido-flyer3{
            padding: 0px;
        }
        .row{
            display: flex;
            flex-direction: column;
        }
        .text-introduction{
            padding: 10px 10px 0px;
            font-size: 0.66rem;
        }
        .col{
            text-align: center;
        }
        h3{
            padding: 0px 0px 5px;
            font-size: 1rem;
        }
        .text-flyer{
            padding: 5px 20px 0px;
            font-size: 0.6rem;
        }
        a{
            margin:0px;
            padding: 5px 30px;
            font-size: 0.66rem;
        }
        .img-flyer3{
            margin-top: 20px;
            width:160px;
            height: 90px;
        }
    }
    .flyer4{
        margin: 10px;
        padding: 10px;
        height: 40vh;
        .contenido-flyer4{
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .row{
            flex-direction: column;
        }
        .text-introduction{
            padding: 10px 10px 0px;
            font-size: 0.66rem;
        }
        .col{
            text-align: center;
        }
        h3{
            padding: 0px 0px 5px;
            font-size: 1rem;
            text-align: center;
            width: 90%;
        }
        .text-flyer{
            padding: 5px 20px 0px;
            font-size: 0.6rem;
            text-align: center;
        }
        a{
            margin:0px;
            padding: 5px 30px;
            font-size: 0.66rem;
        }
        .img-flyer4{
            margin-top: 0px;
            width:250px;
            height: 100px;
        }
    }
    
    
    /*Pagos*/
    .section-planes{
        padding: 20px 0px;
    }
    .title-planes{
        padding: 10px;
        margin:10px 0px 0px;
        font-size: 1.5rem;
    }
    .contenedor-pagos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    .card-pagos{
        height: 60vh;
        width: 500px;
        margin: 10px;

        h3{
            font-size: 0.9rem;
        }
        .contenido{
            padding: 20px;
        }
        .save{
            padding: 2px 20px;
            font-size: 0.9rem;
        }
        .month{
            font-size: 1rem;
        }
        .precio{
            font-size: 2.5rem;
        }
        li{
            padding:5px;
            font-size: 0.9rem;
        }
        .btn-precio{
            font-size: 0.8rem;
            padding: 4px 30px;
            margin: 0px;
        }
        .fa-check-circle{
            font-size: 0.9rem;
        }
        
    }
    }
    
    /*CLIENTES*/
    .section-users{
        margin: 50px;
    }
    .title-users{
        padding: 10px ;
        font-size: 1.5rem;
    }
    .contenedor-clientes{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .cita{
        width:60px;
        height: 60px;
        padding:  10px 10px 0px;
    }
    .clientes-opinion{
        height: 38vh;
        width: 300px;
        margin: 10px;
     
        .opinion{
            padding: 0px 10px;
            font-size: 0.66rem;
        }
    }
    .empresa-cliente{
        padding-top: 20px;
        .img-empresa{
            width: 40px;
            height: 40px;
        }
        .contenido-empresa{
            padding-left: 10px;
        }
        h4{
            font-size: 0.96rem;
        }
        p{
            font-size: 0.66rem;
        }
    }
    /*FOOTER*/
    .footer{
        height: 50vh;
        margin: 10px;
        padding: 20px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        .contenido-paises{
            .pais{
                width:550px;
                margin: 8px;
                font-size: 0.66rem;
                h5{
                    font-size: 0.66rem;
                }
                .logo-pais{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .logo-footer{
            width:0px;
            height: 0px;
            margin: 0px;
            padding: 0px;
        }
        .footer-nav{
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 10px ;
        }
        .nav-link{
            padding: 2px;
            font-size: 0.6rem;
        }
        .redes{
            padding:10px;
            margin-top: 5px;
            margin:10px;
            .fa-brands{
                font-size: 1rem;
            }
        }
    }}